* {
  margin: 0;
  padding: 0;
}

.search-input {
  width: 330px;
  border: none;
  outline: none;
}

.glassmorphism {
  border-radius: 1rem;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
  backdrop-filter: blur(10px);
  padding: 1.25rem;
  max-width: 450px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.user-card {
  display: -webkit-box;
  text-align: center;
  padding: 1rem;
}

.user-header {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contents {
  padding-top: 5px;
}

.icons {
  margin-right: 7px;
  margin-bottom: -4px;
}

/* ===================== MEDIA QUERY (TABS) ====================== */

@media screen and (max-width: 1024px) {
  .glassmorphism {
    max-width: 400px;
  }

  .search-input {
    width: 300px;
  }
}

/* ===================== MEDIA QUERY (MOBILES) ====================== */

@media screen and (max-width: 600px) {
  .glassmorphism {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .search-input {
    width: 250px;
  }
}
